<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Make My Home</title>
    <!--General-->
    <link rel="stylesheet" href="../assets/css/style.css" />
    <!--Ghe_detail-->
    <link rel="stylesheet" href="../assets/css/baitarot_detail.css" />
    <!--Sản phẩm-->
    <link rel="stylesheet" href="../assets/css/sanpham.css" />
    <!--Boostrap-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!--Fontawsome-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
  </head>

  <body>
    <div class="loading"></div>
    <div class="offline-message" id="offline-message"></div>
    <div class="content-show">
      <!--Header-->
      <header></header>

      <!--Ghế detail Content-->
      <div class="ghe_detail container">
        <p><i>Trang chủ / GHẾ - CHAIRS / VAHI</i></p>
        <div class="product container">
          <div class="show">
            <div class="image-slideshow">
              <img src="../assets/images/Chi tiết - SmithWaite/SmithWaite -Chi tiết 1.jpg" alt="Loi anh">
              <img src="../assets/images/Chi tiết - SmithWaite/SmithWaite -Chi tiết 2.jpg" alt="Loi anh">
              <img src="../assets/images/Chi tiết - SmithWaite/SmithWaite -Chi tiết 3.jpg" alt="Loi anh">
              <img src="../assets/images/Chi tiết - SmithWaite/SmithWaite -Chi tiết 4.jpg" alt="Loi anh">
              <img src="../assets/images/Chi tiết - SmithWaite/SmithWaite -Chi tiết 5.jpg" alt="Loi anh">
              <img src="../assets/images/Chi tiết - SmithWaite/SmithWaite -Chi tiết 6.jpg" alt="Loi anh">
              <img src="../assets/images/Chi tiết - SmithWaite/SmithWaite -Chi tiết 7.jpg" alt="Loi anh">
              <img src="../assets/images/Chi tiết - SmithWaite/SmithWaite -Chi tiết 8.jpg" alt="Loi anh">
            </div>
            <div class="img_show">
              <div id="product_detail" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="product-img">
                      <img src="../assets/images/Chi tiết - SmithWaite/SmithWaite -Chi tiết 1.jpg" alt="Loi anh" class="selected">
                      <img src="../assets/images/Chi tiết - SmithWaite/SmithWaite -Chi tiết 2.jpg" alt="Loi anh">
                      <img src="../assets/images/Chi tiết - SmithWaite/SmithWaite -Chi tiết 3.jpg" alt="Loi anh">
                      <img src="../assets/images/Chi tiết - SmithWaite/SmithWaite -Chi tiết 4.jpg" alt="Loi anh">
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="product-img">
                      <img src="../assets/images/Chi tiết - SmithWaite/SmithWaite -Chi tiết 5.jpg" alt="Loi anh">
                      <img src="../assets/images/Chi tiết - SmithWaite/SmithWaite -Chi tiết 6.jpg" alt="Loi anh">
                      <img src="../assets/images/Chi tiết - SmithWaite/SmithWaite -Chi tiết 7.jpg" alt="Loi anh">
                      <img src="../assets/images/Chi tiết - SmithWaite/SmithWaite -Chi tiết 8.jpg" alt="Loi anh">
                    </div>
                  </div>
                </div>
                <button
                  class="carousel-control-prev btn-show"
                  type="button"
                  data-bs-target="#product_detail"
                  data-bs-slide="prev"
                  style="position: relative; left: -3.5vw; top: -4vw"
                >
                <i class="fa-solid fa-angle-left fa-2xl" style="color: #000000"></i>
                </button>
                <button
                  class="carousel-control-next btn-show"
                  type="button"
                  data-bs-target="#product_detail"
                  data-bs-slide="next"
                  style="position: relative; left: 30vw; top: -4vw"
                >
                <i class="fa-solid fa-angle-right fa-2xl" style="color: #000000"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="detail">
            <div class="detail-content">
              <div class="content-header">
                <h1>SMITH WAITE</h1>
                <p>Bài Tarot</p>
                <h3>550,000₫</h3>
              </div>
              <div class="content-body">
                <p><b>Tên bộ bài:</b> Swith Waite</p>
                <p><b>Nhà sản xuất:</b> U.S. Games Systems</p>
                <p><b>Tác giả:</b> Arthur Edward Waite, Pamela Colman Smith</p>
                <p><b>Bao gồm:</b>78 Lá bài kích thước 8x12 cm + Hướng dẫn</p>
                <p><b>Chất liệu:</b>Giấy cứng phủ bóng</p>
                <p><b>ISBN:</b>9780913866139</p>
              </div>
            </div>
            <button class="detail-btn" onclick="addToProductCart()">
              Thêm vào giỏ hàng
            </button>
          </div>
        </div>
      </div>

      <!--Option-->
      <div class="filter container">
        <p onclick="showContent('description')" class="filter-item">
          Mô tả sản phẩm
        </p>
        <p onclick="showContent('warranty')" class="filter-item">
          Cách bảo quản và sử dụng đúng cách
        </p>
        <p onclick="showContent('review')" class="filter-item">
          Đánh giá
        </p>
      </div>
      <div id="description" class="filter-content container">
        <p><b>The Rider Waite Tarot</b> là một tựa bài cổ điển và có lẽ là bộ bài được biết đến nhiều nhất 
          trong thế giới Tarot nói chung và phương Tây nói riêng. Đây được xem là bộ bài định nghĩa 
          lại tiêu chuẩn của bài Tarot cũng như trở thành chuẩn mực cho trên 90% bộ bài Tarot đang 
          lưu hành hiện tại với đặc trưng khác biệt so với chuẩn bài Marseilles trước đó là toàn bộ 
          78 lá bài đều được vẽ hình. Nữ họa sĩ Pamela Colman-Smith là người khắc họa nên 78 lá bài 
          dựa trên hệ thống phân tích ý nghĩa và sự ủy nhiệm của Arthur Edward Waite – người khai 
          sinh ra chuẩn bài Rider Waite Smith. </p>
          <p><b>The Rider Waite Tarot</b> là bộ bài dành cho mọi đối tượng 
          sử dụng kể cả người mới học Tarot lẫn những reader chuyên nghiệp. Hầu hết reader chuyên nghiệp 
          trên thế giới đều cho rằng bất cứ ai tìm hiểu về Tarot cũng đều phải sở hữu một bộ bài 
          <b>The Rider Waite Tarot</b> hoặc một trong các biến thể của bộ bài này. Bộ bài đi kèm sách booklet 
          rút gọn từ cuốn sách Pictorial Key to Tarot của Arthur Edward Waite – được xem là cuốn sách 
          chuyên sâu về Tarot đầu tiên trên thế giới; ngoài ra người dùng có thể dễ dàng tìm thấy hàng 
          trăm đầu sách khác về bộ bài <b>The Rider Waite Tarot</b> và chuẩn bài truyền thống Rider Waite Smith
           trên thị trường.</p>
      </div>
      <div id="warranty" class="filter-content container">
        <b>Cách bảo quản và sử dụng đúng cách:</b>
        <b>Bảo quản bộ bài:</b>
        <p>Những lá bài Tarot trong quá trình sử dụng có thể tiếp nhận những năng lượng tiêu cực,
        mà năng lượng này có thể gây ảnh hưởng đến việc đọc bài của bạn. Bạn nên cất giữ bộ bài
        trong một túi đen có lớp lót hay trong một hộp gỗ. Bạn có thể bỏ thêm vào túi hoặc hộp
        gỗ những viên đá quý hay các loại thảo mộc để giúp cho năng lượng của bộ bài tinh khiết
        và tích cực hơn.</p>
        <b>Quyết định người nào có thể chạm vào bộ bài:</b> 
        <p>Đây là một vấn đề về sở thích cá nhân, bạn có cho phép người hỏi chạm vào những lá bài 
        hay không. Một số readers khuyến khích việc này – cho phép người hỏi xào bài như là một 
        cách truyền năng lượng vào những lá bài để tạo kết nối tốt hơn. Nhưng một số khác thì lại 
        không thích năng lượng của bất cứ ai ngoại trừ họ tiếp xúc với bộ bài để giữ cho năng 
        lượng được tinh khiết, nhất quán.</p> 
        <b>Thanh tẩy bộ bài:</b>
        <p>Sẽ có lúc bạn cần thanh tẩy hay là làm sạch bộ bài của bạn để loại trừ những năng lượng 
        tiêu cực. Có nhiều cách để thanh tẩy, nhưng một cách đơn giản đó là sử dụng cách có liên 
        quan đến bốn nguyên tố. Khi sử dụng cách này, ta bắt đầu với việc trải bộ bài theo hình 
        cánh quạt, nếu việc thanh tẩy là cực kỳ cần thiết, những lá bài sẽ được thanh tẩy cùng lúc. </p>
      </div>
      <div id="review" class="filter-content container">
        <div class="review">
          <img src="../assets/images/Chi tiết - SmithWaite/SmithWaite -Chi tiết 1.jpg" alt="Loi anh">
        <div>
          <b>Võ Hoàng Thảo Phương</b> <br>
          Chất liệu giấy rất tuyệt vời: các lá bài rất linh động và bóng, tôi có thể xào bài 
          và chia bài rất dễ dàng. Chất lượng hình ảnh: tông màu ám xanh lá khá độc đáo so với 
          màu vàng của Rider Waite Tarot. Nếu bạn là một người thích bài kiểu cổ, hình ảnh hoàn 
          toàn theo nguyên mẫu, nhưng cũng thích một chút phá cách về màu sắc, bộ Smith Waite Tarot này 
          chắc chắn phù hợp với bạn.
        </div>
        </div>
      </div>
      <!--Có Thể Bạn Cũng Thích-->
      <div class="product_slide container">
        <h1>Có thể bạn cũng thích</h1>
        <div
          id="relativeProduct"
          class="carousel slide"
          data-bs-touch="false"
          data-bs-interval="false"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="product_slide-container flex">
                <a href="./baitarot_detail.html" class="product-card">
                  <div class="product-image">
                    <img src="../assets/images/Sản phẩm/17 - Kiều 1.jpg" alt="Product Image" class="original-image">
                    <img src="../assets/images/Sản phẩm/17 - Kiều 2.jpg" alt="Detail Image" class="hover-image" >
                  </div>
                  <div class="product-details">
                    <i class="fa-solid fa-cart-plus fa-2xl" id="add-cart" onclick="addItem(event)"></i>
                    <h2>Tarot Kiều</h2>
                    <p>Bài Tarot, 8x12 cm</p>
                    <div class="price">
                      <span class="discount-price">2,880,000</span>
                    </div>
                  </div>
                </a>
                <a href="./baitarot_detail.html" class="product-card">
                  <div class="product-image">
                    <img src="../assets/images/Sản phẩm/18 - Mặt dây chuyền 1.jpg" alt="Product Image" class="original-image">
                    <img src="../assets/images/Sản phẩm/18 - Mặt dây chuyền 2.jpg" alt="Detail Image" class="hover-image">
                  </div>
                  <div class="product-details">
                    <i class="fa-solid fa-cart-plus fa-2xl" id="add-cart" onclick="addItem(event)"></i>
                    <h2>Dây đeo</h2>
                    <p>Mặt dây chuyền, 3-5 cm</p>
                    <div class="price">
                      <span class="discount-price">450,000</span>
                    </div>
                  </div>
                </a>
                <a href="./baitarot_detail.html" class="product-card">
                  <div class="product-image">
                    <img src="../assets/images/Sản phẩm/19 - Heart 1.jpg" alt="Product Image" class="original-image">
                    <img src="../assets/images/Sản phẩm/19 - Heart 2.jpg" alt="Detail Image" class="hover-image">
                  </div>
                  <div class="product-details">
                    <i class="fa-solid fa-cart-plus fa-2xl" id="add-cart" onclick="addItem(event)"></i>
                    <h2>Heart quartz</h2>
                    <p>Đá thạch anh hồng</p>
                    <div class="price">
                      <span class="discount-price">3,500,000</span>
                    </div>
                  </div>
                </a>
                <a href="./baitarot_detail.html" class="product-card">
                  <div class="product-image">
                    <img src="../assets/images/Sản phẩm/20 - Túi cute 1.jpg" alt="Product Image" class="original-image">
                    <img src="../assets/images/Sản phẩm/20 - Túi cute 2.jpg" alt="Detail Image" class="hover-image">
                  </div>
                  <div class="product-details">
                    <i class="fa-solid fa-cart-plus fa-2xl" id="add-cart" onclick="addItem(event)"></i>
                    <h2>Túi cute</h2>
                    <p>Túi Tarot, 20x30 cm</p>
                    <div class="price">
                      <span class="discount-price">850,000</span>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="product_slide-container flex">
                <a href="./baitarot_detail.html" class="product-card">
                  <span class="discount-tag">10</span>
                  <div class="product-image">
                    <img src="../assets/images/Sản phẩm/1- Witches 1.jpg" alt="Product Image" class="original-image">
                    <img src="../assets/images/Sản phẩm/1- Witches 2.jpg" alt="Detail Image" class="hover-image">
                  </div>
                  <div class="product-details">
                    <i class="fa-solid fa-cart-plus fa-2xl" id="add-cart" onclick="addItem(event)"></i>
                    <h2>WITCHES</h2>
                    <p>Bài Oracle, 8x13 cm</p>
                    <div class="price">
                      <span class="discount-price">850,000</span>
                      <span class="original-price">950,000</span>
                    </div>
                  </div>
                </a>
                <a href="./baitarot_detail.html" class="product-card">
                  <div class="product-image">
                    <img src="../assets/images/Sản phẩm/2 - Canbloss 1.jpg" alt="Product Image" class="original-image">
                    <img src="../assets/images/Sản phẩm/2 - Canbloss 2.jpg" alt="Detail Image" class="hover-image">
                  </div>
                  <div class="product-details">
                    <i class="fa-solid fa-cart-plus fa-2xl" id="add-cart" onclick="addItem(event)"></i>
                    <h2>CANBLOSS</h2>
                    <p>Nến thơm hương đào</p>
                    <div class="price">
                      <span class="discount-price">510,000</span>
                    </div>
                  </div>
                </a>
                <a href="./baitarot_detail.html" class="product-card">
                  <div class="product-image">
                    <img src="../assets/images/Sản phẩm/3 - Rosesphere 1.jpg" alt="Product Image" class="original-image">
                    <img src="../assets/images/Sản phẩm/3 - Rosesphere 2.jpg" alt="Detail Image" class="hover-image">
                  </div>
                  <div class="product-details">
                    <i class="fa-solid fa-cart-plus fa-2xl" id="add-cart" onclick="addItem(event)"></i>
                    <h2>ROSESPHERE</h2>
                    <p>Quả cầu thạch anh hồng</p>
                    <div class="price">
                      <span class="discount-price">730,000</span>
                    </div>
                  </div>
                </a>
                <a href="./baitarot_detail.html" class="product-card">
                  <div class="product-image">
                    <img src="../assets/images/Sản phẩm/4 - Azathoth 1.jpg" alt="Product Image" class="original-image">
                    <img src="../assets/images/Sản phẩm/4 - Azathoth 2.jpg" alt="Detail Image" class="hover-image">
                  </div>
                  <div class="product-details">
                    <i class="fa-solid fa-cart-plus fa-2xl" id="add-cart" onclick="addItem(event)"></i>
                    <h2>AZATHOTH</h2>
                    <p>Bài Tarot, 8.5x12.5 cm</p>
                    <div class="price">
                      <span class="discount-price">899,000</span>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <button
            class="carousel-control-prev btn-show"
            type="button"
            data-bs-target="#relativeProduct"
            data-bs-slide="prev"
          >
          <i
            class="fa-solid fa-angle-left fa-2xl"
            style="color: #000000; position: relative; left: -7vw; top: -3vw"
          ></i>
          </button>
          <button
            class="carousel-control-next btn-show"
            type="button"
            data-bs-target="#relativeProduct"
            data-bs-slide="next"
          >
          <i
            class="fa-solid fa-angle-right fa-2xl"
            style="color: #000000; position: relative; left: 5vw; top: -3vw"
          ></i>
          </button>
        </div>
      </div>
      <footer></footer>
    </div>
      <!--Footer-->
      <footer></footer>
    </div>
    <script src="../assets/js/loading&connect.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../assets/js/sanpham_detail.js"></script>
    <script src="../assets/js/header&footer.js"></script>
    <script src="../assets/js/slideshow.js"></script>
  </body>
</html>
