<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tarot Enigma</title>
    <!--General-->
    <link rel="stylesheet" href="../assets/css/style.css" />
    <!--Header-->
    <link rel="stylesheet" href="../assets/css/header.css" />
    <!--chinhsachvaquydinh-->
    <link rel="stylesheet" href="../assets/css/chinhsachvaquydinh.css" />
    <!--SlideBar-->
    <link rel="stylesheet" href="../assets/css/slidebar.css" />
    <!--Footer-->
    <link rel="stylesheet" href="../assets/css/footer.css" />
    <!--Boostrap-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!--Fontawsome-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
  </head>

  <body>
    <div class="loading"></div>
    <div class="offline-message" id="offline-message"></div>
    <div class="content-show">
      <!--Header-->
      <header></header>

      <!--Chính sách và quy định Content-->
      <div class="chinhsach_header container">
        <hr size="30px" color="yellow" />
        <h1>Bảo mật</h1>
        <div class="flex">
          <div class="content">
            <h4 style="text-align: center; font-weight: 600">
              CHÍNH SÁCH BẢO MẬT
            </h4>
            <ol>
              <li>MỤC ĐÍCH VÀ PHẠM VI THU THẬP</li>
              <p>
                Thông tin thu thập trên website bao gồm: họ tên, email, số điện 
                thoại, địa chỉ liên hệ, thông tin lịch hẹn và loại dịch vụ tarot 
                khách hàng yêu cầu (như tư vấn tình cảm, sự nghiệp, sức khỏe) và 
                các yêu cầu cá nhân cụ thể khác. Đây là những thông tin cần thiết 
                để chúng tôi xác nhận và hoàn tất quy trình đặt lịch hoặc đơn 
                hàng, đảm bảo quyền lợi của khách hàng.
              </p>
              <p>
                Khách hàng tự chịu trách nhiệm về bảo mật và lưu giữ thông tin 
                cá nhân cũng như tài khoản email của mình. Đồng thời, khách hàng 
                cần thông báo ngay cho chúng tôi về bất kỳ hành vi sử dụng trái 
                phép hoặc vi phạm bảo mật nào để có biện pháp xử lý kịp thời.
              </p>
              <li>PHẠM VI SỬ DỤNG THÔNG TIN</li>
              <p>Chúng tôi sử dụng thông tin khách hàng cung cấp nhằm:</p>
              <ul>
                <li>
                  Xác nhận đơn hàng và giao sản phẩm đến khách hàng;
                </li>
                <li>
                  Xác nhận lịch hẹn, nhắc nhở lịch và thông tin chi tiết về các dịch vụ tarot đã đặt;
                </li>
                <li>
                  Cung cấp thông tin liên quan đến sản phẩm, dịch vụ theo yêu cầu của khách hàng;
                </li>
                <li>
                  Gửi các thông báo về hoạt động trên website, bao gồm chương trình khuyến mãi, sự kiện, và các dịch vụ mới;
                </li>
                <li>
                  Liên lạc và giải quyết với khách hàng trong những trường hợp đặc biệt;
                </li>
                <li>
                  Không sử dụng thông tin cá nhân của khách hàng ngoài các mục đích liên quan đến giao dịch và tư vấn dịch vụ, 
                  trừ khi có yêu cầu từ cơ quan pháp luật như Viện kiểm sát, tòa án hoặc cơ quan công an
                </li>
              </ul>
              <li>THỜI GIAN LƯU TRỮ THÔNG TIN</li>
              <p>
                Thông tin cá nhân của khách hàng sẽ được lưu trữ trên hệ thống cho đến khi có yêu cầu hủy bỏ từ khách hàng. 
                Trong mọi trường hợp, chúng tôi cam kết lưu giữ và bảo mật thông tin khách hàng trên máy chủ an toàn của mình.
              </p>
              <li>NHỮNG NGƯỜI HOẶC TỔ CHỨC CÓ THỂ ĐƯỢC TIẾP CẬN VỚI THÔNG TIN CÁ NHÂN</li>
              <p>
                Những người hoặc tổ chức có thể được tiếp cận với thông tin cá nhân của khách hàng bao gồm:
              </p>
              <ul>
                <li>
                  Nhân viên của công ty phục vụ trực tiếp khách hàng
                </li>
                <li>
                  Các cộng tác viên tarot, hoặc đối tác có ký hợp đồng với công ty để hỗ trợ trong việc cung cấp dịch vụ 
                  (theo phạm vi và điều khoản hợp đồng);
                </li>
                <li>
                  Các cơ quan chức năng nếu có yêu cầu hợp pháp.
                </li>
              </ul>
              <li>ĐỊA CHỈ CỦA ĐƠN VỊ THU THẬP VÀ QUẢN LÝ THÔNG TIN CÁ NHÂN</li>
              <p>Công ty TNHH Tarot Enigma</p>
              <p>
                GPĐKKD: số 0123456789 do Sở KHĐT TP.HCM cấp ngày 03/04/2017
              </p>
              <p>
                Cửa hàng: 90-92 Đường B2, Khu đô thị Sala, An Lợi Đông, Thủ Đức, HCM
              </p>
              <p>
                Hotline: 0123456789 - 0123456789
              </p>
              <p>
                Email: suppport@tarotenigma.com
              </p>
              <li>PHƯƠNG TIỆN VÀ CÔNG CỤ ĐỂ NGƯỜI DÙNG TIẾP CẬN VÀ CHỈNH SỬA DỮ LIỆU CÁ NHÂN CỦA MÌNH</li>
              <p>
                Khách hàng có quyền kiểm tra, cập nhật, điều chỉnh hoặc hủy bỏ thông tin cá nhân của 
                mình bằng cách liên hệ trực tiếp với chúng tôi qua các kênh liên hệ trên website. 
                Mọi phản hồi và khiếu nại về nội dung bảo mật thông tin sẽ được chúng tôi tiếp nhận 
                và xác minh. Nếu phản ánh của khách hàng là đúng, chúng tôi sẽ tiến hành xử lý kịp thời
              </p>
              <li>CƠ CHẾ TIẾP NHẬN VÀ GIẢI QUYẾT KHIẾU NẠI CỦA NGƯỜI TIÊU DÙNG</li>
              <p>
                + Mọi tranh chấp phát sinh sẽ được giải quyết trên cơ sở thương lượng. Nếu không đạt thỏa
                thuận, một trong hai bên có thể đưa vụ việc ra Tòa án có thẩm quyền.
              </p>
              <p>
                + Khi không thể giải quyết qua thương lượng, bên vi phạm có thể cung cấp bằng chứng liên 
                quan (email, tin nhắn…) và liên hệ với chúng tôi để giải quyết.
              </p>
              <p>
                + Nếu vụ việc vượt quá thẩm quyền, chúng tôi sẽ chuyển đến cơ quan chức năng để bảo vệ 
                quyền lợi của khách hàng.
              </p>
              <li>CAM KẾT BẢO MẬT THÔNG TIN CÁ NHÂN</li>
              <P>
                Chúng tôi cam kết bảo mật tuyệt đối thông tin cá nhân và lịch sử tư vấn của khách hàng, 
                không chuyển giao, cung cấp hoặc tiết lộ cho bên thứ ba khi không có sự đồng ý của khách 
                hàng, trừ các trường hợp được pháp luật quy định.
              </P>
              <P>
                Trong trường hợp máy chủ bị hacker tấn công dẫn đến mất mát dữ liệu cá nhân, chúng tôi 
                sẽ nhanh chóng thông báo cho cơ quan chức năng và khách hàng để phối hợp xử lý kịp thời. 
                Thông tin giao dịch trực tuyến của khách hàng cũng sẽ được bảo mật tuyệt đối theo chính 
                sách bảo vệ thông tin cá nhân của chúng tôi.
              </P>
            </ol>
          </div>
        </div>
      </div>
      <!--Footer-->
      <footer></footer>
    </div>
    <script src="../assets/js/loading&connect.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../assets/js/header&footer.js"></script>
    <script src="../assets/js/slideshow.js"></script>
  </body>
</html>
