<div class="container footer_container">
  <div class="footer_content">
    <h3 class="title">Thông tin Tarot Enigma</h3>
    <ul>
      <li><a href="./Lienhe.html">LIÊN HỆ</a></li>
      <li><a href="./booking.html">BOOKING</a></li>
    </ul>
  </div>
  <div class="footer_content">
    <h3 class="title">Sản phẩm</h3>
    <ul>
      <li><a href="./sanpham_tarot.html">Bài Tarot</a></li>
      <li><a href="./sanpham_tarot.html">Bài Oracle</a></li>
      <li><a href="./sanpham_tarot.html">Bài Lenormand</a></li>
      <li><a href="./sanpham_tarot.html">Bài I Ching</a></li>
      <li><a href="./sanpham_tarot.html">Bài Tây</a></li>
      <li><a href="./sanpham_tarot.html">Đá thanh tẩy</a></li>
      <li><a href="./sanpham_tarot.html">Hộp gỗ</a></li>
      <li><a href="./sanpham_tarot.html">Con lắc cảm xạ</a></li>
      <li><a href="./sanpham_tarot.html">Khăn trải</a></li>
      <li><a href="./sanpham_tarot.html">Túi Tarot</a></li>
      <li><a href="./sanpham_tarot.html">Phụ kiện khác</a></li>
      <li><a href="./sanpham_tarot.html">Sách tham khảo</a></li>
    </ul>
  </div>
  <div class="footer_content">
    <h3 class="title">Chính sách</h3>
    <ul>
      <li>
        <a href="./chinhsachvaquydinh.html">Chính sách và quy định</a>
      </li>
      <li><a href="./baomat.html">Bảo mật</a></li>
      <li><a href="./Lienhe.html">Liên hệ</a></li>
    </ul>
  </div>
  <div class="footer_content">
    <h3 class="title">Liên hệ</h3>
    <p>Công ty TNHH Tarot Enigma</p>
    <p>GPĐKKD: số 0123456789 do Sở KHĐT TP.HCM cấp ngày 22/02/2022</p>
    <p>
      CỬA HÀNG &amp; VĂN PHÒNG: Khu phố 6, P.Linh Trung, Tp.Thủ Đức, Tp.Hồ Chí Minh.
    </p>
    <p>HOTLINE: 0123456789 - 0123456789</p>
    <p>EMAIL: suppport@tarotenigma.com</p>
    <div class="footer_icon">
      <a href="https://www.facebook.com/UIT.Fanpage">
        <i class="fa-brands fa-facebook fa-2xl"></i>
      </a>
      <a href="https://www.instagram.com/truongdhcongnghethongtin/">
        <i class="fa-brands fa-instagram fa-2xl"></i>
      </a>
      <a href="https://www.pinterest.com/search/pins/?q=tarot&rs=typed">
        <i class="fa-brands fa-pinterest fa-2xl"></i>
      </a>
      <a href="https://www.youtube.com/@uitchannel">
        <i class="fa-brands fa-youtube fa-2xl"></i>
      </a> 
    </div>
  </div>
</div>
