<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tarot Enigma</title>
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link rel="stylesheet" href="../assets/css/gioithieu.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <!--Favicon-->
    <link rel="icon" href="../assets/images/Giới thiệu/favicon-01.png" type="image/png">
  </head>

  <body>
    <div class="loading"></div>
    <div class="offline-message" id="offline-message"></div>
    <div class="content-show">
        <header></header>
        <div class="gioithieu_header container">
          <hr size="30px" color="#3B1E54">
          <h1>Giới thiệu</h1>
          <div class="flex">
            <div class="content">
              <h2 class="title">Tarot Enigma - Nơi những bí ẩn được giải mã</h2>
              <p>
                Tarot là phương pháp sử dụng những lá bài Tarot để xem bói và 
                dự đoán về tương lai, tình yêu, công việc, tiền tài và sức khỏe,… 
                bắt đầu xuất hiện tại Châu Âu vào cuối thế kỷ 14. Một cỗ bài Tarot 
                bao gồm 78 lá bài, mỗi lá bài mang một ý nghĩa và biểu tượng riêng 
                biệt, tượng trưng cho những khía cạnh khác nhau của cuộc sống. 
                Việc sử dụng bài Tarot để xem bói không chỉ giúp dự đoán tương 
                lai mà còn mở ra những khám phá mới về bản thân. Điều này giúp bạn 
                hướng tới một cuộc sống hạnh phúc và bình yên hơn, thậm chí làm 
                sáng tỏ những điều bí ẩn, sâu thẳm trong cuộc sống của mình.

              </p>
              <p>
                Tarot Enigma là một website chuyên về bói Tarot nhằm giúp người 
                dùng giải đáp thắc mắc, khám phá và hiểu sâu hơn về các khía cạnh 
                khác nhau trong cuộc sống một cách chính xác nhất.
              </p>
            </div>
            <img src="../assets/images/Giới thiệu/gioithieutarot-01.png" alt="Loi anh">
          </div>
        </div>
      </div>
        <div class="cotloi container">
          <h1>Giá trị cốt lõi</h1>
          <div class="cotloi_body flex container">
            <div class="item">
              <div class="image-container">
                <img src="../assets/images/Giới thiệu/gioithieu-ketnoi.jpg" alt="Loi anh">
              </div>
              <h1>KẾT NỐI</h1>
              <p>
                Chúng tôi luôn sẵn sàng lắng nghe và nỗ lực để đáp ứng 
                tốt nhất nhu cầu của bạn. Những gợi ý và phản hồi của bạn 
                sẽ là nguồn động lực quan trọng giúp đội ngũ chúng tôi 
                phát triển trang web ngày càng hoàn thiện và hấp dẫn hơn. 
                Nếu bạn có bất kỳ câu hỏi, đề xuất, hoặc chia sẻ nào, 
                xin vui lòng liên hệ với chúng tôi qua email bên dưới đây.
              </p>
            </div>
            <div class="item">
              <div class="image-container">
                <img src="../assets/images/Giới thiệu/gioithieu-thauhieu.jpg" alt="Loi anh">
              </div>
              <h1>THẤU HIỂU</h1>
              <p>
                Đội ngũ Reader có kiến thức rộng về các lĩnh vực đời sống 
                như tình yêu, sự nghiệp, tài chính, sức khỏe,… Với khả năng 
                phân tích sâu sắc và nhạy bén, chúng tôi sẽ giúp bạn
                 khám phá những tầng sâu của vấn đề và nhìn nhận mọi thứ 
                 từ nhiều góc độ khác nhau. Mỗi Reader đều sẽ lắng nghe 
                 cẩn thận và thấu hiểu những mối bận tâm của bạn. Từ đó 
                 đưa ra những giải pháp và lời khuyên hữu ích nhất.
              </p>
            </div>
            <div class="item">
              <div class="image-container">
                <img src="../assets/images/Giới thiệu/gioithieu-danbuoc.jpg" alt="Loi anh">
              </div>
              <h1>DẪN ĐƯỜNG</h1>
              <p>
                Với Tarot Enigma, bạn có thể khám phá mọi chủ đề về 
                bản thân, tương lai, tình yêu, sự nghiệp, cuộc sống, 
                tiền bạc, và sức khỏe. Như một chiếc chìa khóa tâm linh, 
                Tarot Enigma sẽ giúp bạn giải đáp những thắc mắc hiện tại, 
                khai sáng tâm hồn, kết nối trực giác, và định hướng cho tương lai.
              </p>
            </div>
          </div>
        <div class="location container flex">
          <div class="content">
            <h1>Thông tin liên hệ</h1>
            <p>
              <b>Công ty TNHH Tarot Enigma</b><br />
              <b>GPĐKKD:</b> số 0123456789 do Sở KHĐT TP.HCM cấp ngày 22/02/2022<br>
              <b>Cửa hàng:</b> Khu phố 6, P.Linh Trung, Tp.Thủ Đức, Tp.Hồ Chí Minh.<br>
              <b>Hotline:</b>0123456789 - 0123456789<br />
              <b>Email:</b> suppport@tarotenigma.com
            </p>
            <h1>Giờ làm việc</h1>
            <ul>
              <li><b>Văn phòng:</b> Thứ 2 – Thứ 7; 9:00 – 18:00</li>
              <li><b>Cửa hàng:</b> Thứ 2 – Chủ Nhật; 9:00 – 21:00</li>
            </ul>
          </div>
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15672.924961103905!2d106.8030541!3d10.8700089!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317527587e9ad5bf%3A0xafa66f9c8be3c91!2sUniversity%20of%20Information%20Technology%20-%20VNUHCM!5e0!3m2!1sen!2s!4v1730538955142!5m2!1sen!2s" 
          width="500" height="400" style="border:0;" frameborder="0" style="border: 0" allowfullscreen="">
          </iframe>
        </div>
        <footer></footer>
      </div>
    </div>
    <script src="../assets/js/loading&connect.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../assets/js/header&footer.js"></script>
  </body>
</html>
