<div class="header_top">
  <a href="./GioiThieu.html">
    <img src="../assets/images/Giới thiệu/logotarot-01.png" alt="Loianh" class="logo">
  </a>
  
  <div class="header_right">
    <div class="header_right_search">
      <div>
        <i class="fa-solid fa-magnifying-glass fa_xl search_icon"></i>
      </div>
      <input
        class="hidden"
        type="text"
        placeholder="Tìm kiếm sản phẩm..."
      />
    </div>
    <div class="header_right_icon">
      <a id="user" href="./dangnhap.html">
        <i class="fa-regular fa-user fa-sm" onclick="showPopup()"></i>
      </a>
      <a>
        <i class="fa-solid fa-bag-shopping fa-sm" id="cart_show"></i>
        <span id="cart-count">0</span>
      </a>
    </div>
  </div>
</div>
<nav class="navbar">
  <ul>
    <li class="active">
      <a href="./GioiThieu.html" class="marked">GIỚI THIỆU</a>
    </li>
    <li>
      <a href="./sanpham.html" class="marked">SẢN PHẨM</a>
      <div class="bg_menu_1">
        <div class="menu_1">
          <ul>
            <li><a href="./sanpham_tarot.html">Bài Tarot</a></li>
            <li><a href="./sanpham_tarot.html">Bài Oracle</a></li>
            <li><a href="./sanpham_tarot.html">Bài Lenormand</a></li>
            <li>
              <a href="./sanpham_tarot.html">Bài I Ching</a>
            </li>
            <li><a href="./sanpham_tarot.html">Bài Tây</a></li>
            <li><a href="./sanpham_tarot.html">Đá thanh tẩy</a></li>
          </ul>
          <ul>
            <li><a href="./sanpham_tarot.html">Hộp gỗ</a></li>
            <li><a href="./sanpham_tarot.html">Con lắc cảm xạ</a></li>
            <li>
              <a href="./sanpham_tarot.html">Khăn trải</a>
            </li>
            <li><a href="./sanpham_tarot.html">Túi Tarot</a></li>
            <li>
              <a href="./sanpham_tarot.html">Phụ kiện khác</a>
            </li>
            <li><a href="./sanpham_tarot.html">Sách tham khảo</a></li>
          </ul>
          <img src="../assets/images/Sản phẩm/4 - Azathoth 1.jpg" alt="Lỗi ảnh"
            style="
              width: 30vw;
              height: 40vh;
              margin-bottom: 2%;
              margin-left: 10%;
            "
          >
        </div>
      </div>
    </li>
    <li>
      <a href="TinTuc.html" class="marked">TIN TỨC</a>
    </li>
    <li>
      <a href="./booking.html" class="marked">BOOKING</a>
    </li>
    <li>
      <a href="uudai.html" class="marked">ƯU ĐÃI</a>
      <div class="menu_2">
        <ul>
          <li>
            <img src="../assets/images/Ưu đãi/VOUCHER01-01.jpg" alt="Loianh" style="width: 40vw; padding: 20px 150px">
          </li>
        </ul>
      </div>
    </li>
  </ul>
</nav>
<div id="cart-dropdown" class="cart-dropdown">
  <ul id="cart-items"></ul>
  <div id="cart-total">Total: $0.00</div>
  <button id="Checkout">
    <a href="./thanhtoan.html" onclick="Thanhtoan(event)">Thanh toán</a>
  </button>
</div>