<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tarot Enigma</title>
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link rel="stylesheet" href="../assets/css/header.css" />
    <link rel="stylesheet" href="../assets/css/slidebar.css" />
    <link rel="stylesheet" href="../assets/css/footer.css" />
    <link rel="stylesheet" href="../assets/css/quenmatkhau.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
  </head>

  <body>
    <header></header>
    <div class="register-form">
      <div class="register-header">
          <h1>QUÊN MẬT KHẨU</h1>
      </div>
      <form id="register-form">
        <div id="error-message"></div>
        <div class="input-group">
          <p id="email-label">Email<span style="color:red">*</span></label><br>
          <input type="email" id="email" name="email" required></p></br>
        </div>
        <div class="input-group">
          <a class="link forgot-password" href="../template/quenmatkhau.html">Chúng tôi gửi cho bạn email đặt lại mật khẩu.</a>
          <div class="action-buttons">
            <a class="link cancel" href="../template/dangnhap.html">Hủy bỏ</a>
            <button class="other_button">X Á C&nbsp;&nbsp;&nbsp;N H Ậ N</button>
          </div>
        </div>                          
      </form>
    </div>
    <footer></footer>
    <script src="../assets/js/loading&connect.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../assets/js/header&footer.js"></script>
    <script src="../assets/js/slideshow.js"></script>
  </body>
</html>
