<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Tarot Enigma</title>
    <!--General-->
    <link rel="stylesheet" href="../assets/css/style.css"/>
    <!--Sản phẩm-->
    <link rel="stylesheet" href="../assets/css/sanpham_tarot.css"/>
    <link rel="stylesheet" href="../assets/css/sanpham.css"/>

    <!--Boostrap-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!--Fontawsome-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <!--Favicon-->
    <link rel="icon" href="../assets/images/Giới thiệu/favicon-01.png" type="image/png">
  </head>

  <body>
    <div class="loading"></div>
    <div class="offline-message" id="offline-message"></div>
    <div class="content-show">
      <!--Header-->
      <header></header>
      <!--Sản phẩm ghế Content-->
      <div class="sanpham_tarot container">
        <p><i>Trang chủ/ Bài Tarot</i></p>
        <div class="banner">
          <img src="../assets/images/Bài Tarot/Bài tarot - Background.jpeg" alt="" />
        </div>
        <div class="filter-bar">
          <button class="filter-button active" data-filter="all">Tất cả</button>
          <button class="filter-button" data-filter="beginner">Beginner</button>
          <button class="filter-button" data-filter="top10">Top10</button>
          <button class="filter-button" data-filter="darkgothic">Dark & Gothic</button>
          <button class="filter-button" data-filter="manga">Manga & Comic</button>
        </div>
        <div class="product-cards">
          <a href="./baitarot_detail.html" class="product-card" data-category="beginner">
            <span class="discount-tag">10</span>
            <div class="product-image">
              <img src="../assets/images/Bài Tarot/Tarot - 11.jpg" alt="Product Image" class="original-image">
              <img src="../assets/images/Bài tarot/Tarot -12.jpg" alt="Detail Image" class="hover-image">
            </div>
            <div class="product-details">
              <i class="fa-solid fa-cart-plus fa-2xl" id="add-cart" onclick="addItem()"></i>
              <h2>GREENIE</h2>
                <p>Bài Tarot, 8x13 cm</p>
                <div class="price">
                  <span class="discount-price">1,600,000</span>
                  <span class="original-price">1,950,000</span>
                </div>
            </div>
          </a>
          <a href="./baitarot_detail.html" class="product-card" data-category="top10">
            <div class="product-image">
              <img src="../assets/images/Bài tarot/Tarot - 21.jpg" alt="Product Image" class="original-image">
              <img src="../assets/images/Bài tarot/Tarot - 22.jpg" alt="Detail Image" class="hover-image">
            </div>
            <div class="product-details">
              <i class="fa-solid fa-cart-plus fa-2xl" id="add-cart" onclick="addItem(event)"></i>
              <h2>CROWLEY</h2>
              <p>Bài Tarot, 7x12 cm</p>
              <div class="price">
                <span class="discount-price">1,500,000</span>
              </div>
            </div>
          </a>
          <a href="./baitarot_detail.html" class="product-card" data-category="manga">
            <div class="product-image">
              <img src="../assets/images/Bài tarot/Tarot - 31.jpg" alt="Product Image" class="original-image">
              <img src="../assets/images/Bài tarot/Tarot - 32.jpg" alt="Detail Image" class="hover-image">
            </div>
            <div class="product-details">
              <i class="fa-solid fa-cart-plus fa-2xl" id="add-cart" onclick="addItem(event)"></i>
              <h2>THE ALICE</h2>
              <p>Bài Tarot, 8x12 cm</p>
              <div class="price">
                <span class="discount-price">2,300,000</span>
              </div>
            </div>
          </a>
          <a href="./baitarot_detail.html" class="product-card" data-category="darkgothic">
            <div class="product-image">
              <img src="../assets/images/Sản phẩm/4 - Azathoth 1.jpg" alt="Product Image" class="original-image">
              <img src="../assets/images/Sản phẩm/4 - Azathoth 2.jpg" alt="Detail Image" class="hover-image">
            </div>
            <div class="product-details">
              <i class="fa-solid fa-cart-plus fa-2xl" id="add-cart" onclick="addItem(event)"></i>
              <h2>AZATHOTH</h2>
              <p>Bài Tarot, 8.5x12.5 cm</p>
              <div class="price">
                <span class="discount-price">899,000</span>
              </div>
            </div>
          </a>
          <a href="./baitarot_detail.html" class="product-card" data-category="top10" >
            <div class="product-image">
              <img src="../assets/images/Bài Tarot/Tarot - 41.jpg" alt="Product Image" class="original-image">
              <img src="../assets/images/Bài Tarot/Tarot - 42.jpg" alt="Detail Image" class="hover-image">
            </div>
            <div class="product-details">
              <i class="fa-solid fa-cart-plus fa-2xl" id="add-cart" onclick="addItem(event)"></i>
              <h2>WISDOM</h2>
              <p>Bài Tarot, 8x12 cm</p>
              <div class="price">
                <span class="discount-price">750,000</span>
              </div>
            </div>
          </a>
          <a href="./baitarot_detail.html" class="product-card" data-category="top10">
            <div class="product-image">
              <img src="../assets/images/Bài tarot/Tarot - 51.jpg" alt="Product Image" class="original-image">
              <img src="../assets/images/Bài tarot/Tarot - 52.jpg" alt="Detail Image" class="hover-image">
              <div class="soldout">Bán hết</div>
            </div>
            <div class="product-details">
              <i class="fa-solid fa-cart-plus fa-2xl" id="add-cart" onclick="addItem(event)"></i>
              <h2>ANIMAL</h2>
              <p>Bài Tarot, 8x12 cm</p>
              <div class="price">
                <span class="discount-price">1,180,000</span>
              </div>
            </div>
          </a>
          <a href="./baitarot_detail.html" class="product-card" data-category="darkgothic">
            <div class="product-image">
              <img src="../assets/images/Bài tarot/Tarot - 61.jpg" alt="Product Image" class="original-image">
              <img src="../assets/images/Bài tarot/Tarot - 62.jpg" alt="Detail Image" class="hover-image">
            </div>
            <div class="product-details">
              <i class="fa-solid fa-cart-plus fa-2xl" id="add-cart" onclick="addItem(event)"></i>
              <h2>LITHA</h2>
              <p>Bài Tarot, 7x12 cm</p>
              <div class="price">
                <span class="discount-price">1,200,000</span>
              </div>
            </div>
          </a>
          <a href="./baitarot_detail.html" class="product-card" data-category="darkgothic">
            <div class="product-image">
              <img src="../assets/images/Bài tarot/Tarot - 71.jpg" alt="Product Image" class="original-image">
              <img src="../assets/images/Bài tarot/Tarot - 72.jpg" alt="Detail Image" class="hover-image">
            </div>
            <div class="product-details">
              <i class="fa-solid fa-cart-plus fa-2xl" id="add-cart" onclick="addItem(event)"></i>
              <h2>COSMA</h2>
              <p>Bài Tarot, 8x12 cm</p>
              <div class="price">
                <span class="discount-price">2,220,000</span>
              </div>
            </div>
          </a>
          <a href="./baitarot_detail.html" class="product-card" data-category="manga">
            <div class="product-image">
              <img src="../assets/images/Bài tarot/Tarot - 81.jpg" alt="Product Image" class="original-image">
              <img src="../assets/images/Bài tarot/Tarot - 82.jpg" alt="Detail Image" class="hover-image">
            </div>
            <div class="product-details">
              <i class="fa-solid fa-cart-plus fa-2xl" id="add-cart" onclick="addItem(event)"></i>
              <h2>MANGA</h2>
              <p>Bài Tarot, 8x12 cm</p>
              <div class="price">
                <span class="discount-price">1,850,000</span>
              </div>
            </div>
          </a>
          <a href="./baitarot_detail.html" class="product-card" data-category="darkgothic" >
            <div class="product-image">
              <img src="../assets/images/Bài tarot/Tarot -  91.jpg" alt="Product Image" class="original-image">
              <img src="../assets/images/Bài tarot/Tarot - 92.jpg" alt="Detail Image" class="hover-image">
            </div>
            <div class="product-details">
              <i class="fa-solid fa-cart-plus fa-2xl" id="add-cart" onclick="addItem(event)"></i>
              <h2>MINOV</h2>
              <p>Bài Tarot, 8x12.5 cm</p>
              <div class="price">
                <span class="discount-price">3,250,000</span>
              </div>
            </div> 
          </a>
          <a href="./baitarot_detail.html" class="product-card" data-category="top10 darkgothic">
            <div class="product-image">
              <img src="../assets/images/Bài tarot/Tarot - 131.jpg" alt="Product Image" class="original-image">
              <img src="../assets/images/Bài tarot/Tarot - 132.jpg" alt="Detail Image" class="hover-image">
            </div>
            <div class="product-details">
              <i class="fa-solid fa-cart-plus fa-2xl" id="add-cart" onclick="addItem(event)"></i>
              <h2>LEGENDS</h2>
              <p>Bài Tarot, 8.5x12 cm</p>
              <div class="price">
                <span class="discount-price">1,850,000</span>
              </div>
            </div> 
          </a>
          <a href="./baitarot_detail.html" class="product-card" data-category="top10">
            <div class="product-image">
              <img src="../assets/images/Bài tarot/Tarot - 111.jpg" alt="Product Image" class="original-image">
              <img src="../assets/images/Bài tarot/Tarot - 112.jpg" alt="Detail Image" class="hover-image">
            </div>
            <div class="product-details">
              <i class="fa-solid fa-cart-plus fa-2xl" id="add-cart" onclick="addItem(event)"></i>
              <h2>ENGLAND 1997</h2>
              <p>Bài Tarot, 7x12 cm</p>
              <div class="price">
                <span class="discount-price">3,850,000</span>
              </div>
            </div> 
          </a>
          <a href="./baitarot_detail.html" class="product-card" data-category="top10">
            <div class="product-image">
              <img src="../assets/images/Bài tarot/Tarot - 121.jpg" alt="Product Image" class="original-image">
              <img src="../assets/images/Bài tarot/Tarot - 122.jpg" alt="Detail Image" class="hover-image">
            </div>
            <div class="product-details">
              <i class="fa-solid fa-cart-plus fa-2xl" id="add-cart" onclick="addItem(event)"></i>
              <h2>TOTEM</h2>
              <p>Bài Tarot, 7.5x12 cm</p>
              <div class="price">
                <span class="discount-price">699,000</span>
              </div>
            </div>
          </a>
          <a href="./baitarot_detail.html" class="product-card" data-category="top10">
            <span class="discount-tag">10</span>
            <div class="product-image">
              <img src="../assets/images/Bài Tarot/Tarot - 11.jpg" alt="Product Image" class="original-image">
              <img src="../assets/images/Bài tarot/Tarot -12.jpg" alt="Detail Image" class="hover-image">
            </div>
            <div class="product-details">
              <i class="fa-solid fa-cart-plus fa-2xl" id="add-cart" onclick="addItem()"></i>
              <h2>GREENIE</h2>
                <p>Bài Tarot, 8x13 cm</p>
                <div class="price">
                  <span class="discount-price">1,600,000</span>
                  <span class="original-price">1,950,000</span>
                </div>
            </div>
          </a>
          <a href="./baitarot_detail.html" class="product-card" data-category="darkgothic">
            <div class="product-image">
              <img src="../assets/images/Bài tarot/Tarot - 21.jpg" alt="Product Image" class="original-image">
              <img src="../assets/images/Bài tarot/Tarot - 22.jpg" alt="Detail Image" class="hover-image">
            </div>
            <div class="product-details">
              <i class="fa-solid fa-cart-plus fa-2xl" id="add-cart" onclick="addItem(event)"></i>
              <h2>CROWLEY</h2>
              <p>Bài Tarot, 7x12 cm</p>
              <div class="price">
                <span class="discount-price">1,500,000</span>
              </div>
            </div>
          </a>
          <a href="./baitarot_detail.html" class="product-card" data-category="top10">
            <div class="product-image">
              <img src="../assets/images/Sản phẩm/4 - Azathoth 1.jpg" alt="Product Image" class="original-image">
              <img src="../assets/images/Sản phẩm/4 - Azathoth 2.jpg" alt="Detail Image" class="hover-image">
            </div>
            <div class="product-details">
              <i class="fa-solid fa-cart-plus fa-2xl" id="add-cart" onclick="addItem(event)"></i>
              <h2>AZATHOTH</h2>
              <p>Bài Tarot, 8.5x12.5 cm</p>
              <div class="price">
                <span class="discount-price">899,000</span>
              </div>
            </div>
          </a>
          <a href="./baitarot_detail.html" class="product-card">
            <div class="product-image">
              <img src="../assets/images/Bài Tarot/Tarot - 41.jpg" alt="Product Image" class="original-image">
              <img src="../assets/images/Bài Tarot/Tarot - 42.jpg" alt="Detail Image" class="hover-image">
            </div>
            <div class="product-details">
              <i class="fa-solid fa-cart-plus fa-2xl" id="add-cart" onclick="addItem(event)"></i>
              <h2>WISDOM</h2>
              <p>Bài Tarot, 8x12 cm</p>
              <div class="price">
                <span class="discount-price">750,000</span>
              </div>
            </div>
          </a>
          <a href="./baitarot_detail.html" class="product-card">
            <div class="product-image">
              <img src="../assets/images/Bài tarot/Tarot - 51.jpg" alt="Product Image" class="original-image">
              <img src="../assets/images/Bài tarot/Tarot - 52.jpg" alt="Detail Image" class="hover-image">
              <div class="soldout">Bán hết</div>
            </div>
            <div class="product-details">
              <i class="fa-solid fa-cart-plus fa-2xl" id="add-cart" onclick="addItem(event)"></i>
              <h2>ANIMAL</h2>
              <p>Bài Tarot, 8x12 cm</p>
              <div class="price">
                <span class="discount-price">1,180,000</span>
              </div>
            </div>
          </a>
          <a href="./baitarot_detail.html" class="product-card" data-category="beginner">
            <div class="product-image">
              <img src="../assets/images/Bài tarot/Tarot - 61.jpg" alt="Product Image" class="original-image">
              <img src="../assets/images/Bài tarot/Tarot - 62.jpg" alt="Detail Image" class="hover-image">
            </div>
            <div class="product-details">
              <i class="fa-solid fa-cart-plus fa-2xl" id="add-cart" onclick="addItem(event)"></i>
              <h2>LITHA</h2>
              <p>Bài Tarot, 7x12 cm</p>
              <div class="price">
                <span class="discount-price">1,200,000</span>
              </div>
            </div>
          </a>
          <a href="./baitarot_detail.html" class="product-card" data-category="beginner">
            <div class="product-image">
              <img src="../assets/images/Bài tarot/Tarot - 71.jpg" alt="Product Image" class="original-image">
              <img src="../assets/images/Bài tarot/Tarot - 72.jpg" alt="Detail Image" class="hover-image">
            </div>
            <div class="product-details">
              <i class="fa-solid fa-cart-plus fa-2xl" id="add-cart" onclick="addItem(event)"></i>
              <h2>COSMA</h2>
              <p>Bài Tarot, 8x12 cm</p>
              <div class="price">
                <span class="discount-price">2,220,000</span>
              </div>
            </div>
          </a>
          <a href="./baitarot_detail.html" class="product-card" data-category="top10">
            <div class="product-image">
              <img src="../assets/images/Bài tarot/Tarot - 81.jpg" alt="Product Image" class="original-image">
              <img src="../assets/images/Bài tarot/Tarot - 82.jpg" alt="Detail Image" class="hover-image">
            </div>
            <div class="product-details">
              <i class="fa-solid fa-cart-plus fa-2xl" id="add-cart" onclick="addItem(event)"></i>
              <h2>MANGA</h2>
              <p>Bài Tarot, 8x12 cm</p>
              <div class="price">
                <span class="discount-price">1,850,000</span>
              </div>
            </div>
          </a>
          <a href="./baitarot_detail.html" class="product-card" data-category="top10">
            <div class="product-image">
              <img src="../assets/images/Bài tarot/Tarot -  91.jpg" alt="Product Image" class="original-image">
              <img src="../assets/images/Bài tarot/Tarot - 92.jpg" alt="Detail Image" class="hover-image">
            </div>
            <div class="product-details">
              <i class="fa-solid fa-cart-plus fa-2xl" id="add-cart" onclick="addItem(event)"></i>
              <h2>MINOV</h2>
              <p>Bài Tarot, 8x12.5 cm</p>
              <div class="price">
                <span class="discount-price">3,250,000</span>
              </div>
            </div> 
          </a>
          <a href="./baitarot_detail.html" class="product-card" data-category="darkgothic">
            <div class="product-image">
              <img src="../assets/images/Bài tarot/Tarot - 131.jpg" alt="Product Image" class="original-image">
              <img src="../assets/images/Bài tarot/Tarot - 132.jpg" alt="Detail Image" class="hover-image">
            </div>
            <div class="product-details">
              <i class="fa-solid fa-cart-plus fa-2xl" id="add-cart" onclick="addItem(event)"></i>
              <h2>LEGENDS</h2>
              <p>Bài Tarot, 8.5x12 cm</p>
              <div class="price">
                <span class="discount-price">1,850,000</span>
              </div>
            </div> 
          </a>
          <a href="./baitarot_detail.html" class="product-card" data-category="beginner">
            <div class="product-image">
              <img src="../assets/images/Bài tarot/Tarot - 111.jpg" alt="Product Image" class="original-image">
              <img src="../assets/images/Bài tarot/Tarot - 112.jpg" alt="Detail Image" class="hover-image">
            </div>
            <div class="product-details">
              <i class="fa-solid fa-cart-plus fa-2xl" id="add-cart" onclick="addItem(event)"></i>
              <h2>ENGLAND 1997</h2>
              <p>Bài Tarot, 7x12 cm</p>
              <div class="price">
                <span class="discount-price">3,850,000</span>
              </div>
            </div> 
          </a>
          <a href="./baitarot_detail.html" class="product-card" data-category="beginner">
            <div class="product-image">
              <img src="../assets/images/Bài tarot/Tarot - 121.jpg" alt="Product Image" class="original-image">
              <img src="../assets/images/Bài tarot/Tarot - 122.jpg" alt="Detail Image" class="hover-image">
            </div>
            <div class="product-details">
              <i class="fa-solid fa-cart-plus fa-2xl" id="add-cart" onclick="addItem(event)"></i>
              <h2>TOTEM</h2>
              <p>Bài Tarot, 7.5x12 cm</p>
              <div class="price">
                <span class="discount-price">699,000</span>
              </div>
            </div>
          </a>
          <a href="./baitarot_detail.html" class="product-card" data-category="top10">
            <div class="product-image">
              <img src="../assets/images/Bài tarot/Tarot - 71.jpg" alt="Product Image" class="original-image">
              <img src="../assets/images/Bài tarot/Tarot - 72.jpg" alt="Detail Image" class="hover-image">
            </div>
            <div class="product-details">
              <i class="fa-solid fa-cart-plus fa-2xl" id="add-cart" onclick="addItem(event)"></i>
              <h2>COSMA</h2>
              <p>Bài Tarot, 8x12 cm</p>
              <div class="price">
                <span class="discount-price">2,220,000</span>
              </div>
            </div>
          </a>
        </div>
        <button id="load-more-button">Xem thêm</button>
      </div>
      <!--Footer-->
      <footer></footer>
    </div>
    <script src="../assets/js/loading&connect.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../assets/js/baitarot_detail.js"></script>
    <script src="../assets/js/header&footer.js"></script>
  </body>
</html>
