<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tarot Enigma</title>
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link rel="stylesheet" href="../assets/css/thanhtoan.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <!--Favicon-->
    <link rel="icon" href="../assets/images/Giới thiệu/favicon-01.png" type="image/png">
  </head>

  <body>
    <div class="loading"></div>
    <div class="offline-message" id="offline-message"></div>
    <div class="content-show">
        <header></header>
        <div class="container">
          <div class="flex-container">
            <div class="left-container">
              <h2>Thông tin giao hàng</h2>
              <p id="already">
                Bạn đã có tài khoản?
                <a href="#" id="sign-in-ref">Đăng nhập</a>
              </p>
              <input type="text" id="name" placeholder="Họ và Tên">
              <div id="e-p-container">
                <!-- <input type="text" id="email" placeholder="Email"> -->
                <input type="text" id="phone" placeholder="Email">
                <input type="text" id="phone" placeholder="Số điện thoại">
              </div>
              <div id="selector-container">
                <select>
                  <option disabled selected hidden>Thành phố</option>
                  <option>TP.HCM</option>
                  <option>Hà Nội</option>
                  <option>Đà Nẵng</option>
                </select>
                <select>
                  <option disabled selected hidden>Quận</option>
                  <option>Ngũ Hành Sơn</option>
                  <option>Sơn Trà</option>
                  <option>Cẩm Lệ</option>
                  <option>Hòa Vang</option>
                </select>
                <select>
                  <option disabled selected hidden>Phường</option>
                  <option>Hòa Quý</option>
                  <option>Mỹ An</option>
                  <option>Hòa Hải</option>
                  <option>Khuê Mỹ</option>
                </select>
                <input type="text" id="address" placeholder="Địa chỉ">
              </div>
              <h2>Phương thức giao hàng</h2>
              <!-- Nhận hàng -->
              <div class="radio-border">
                <input type="radio" id="toanquoc" name="shipping-method" checked />
                <label for="toanquoc">
                  TOÀN QUỐC - ViettelPost giao hàng tận nơi (có phí)
                </label>
              </div>
              <div class="radio-border">
                <input type="radio" id="hcm" name="shipping-method" />
                <label for="hcm">
                  HCM - Tarot Enigma giao hàng tận nơi (Có phí)
                </label>
              </div>
              <div class="radio-border">
                <input type="radio" id="atstore" name="shipping-method" />
                <label for="atstore">
                  Tôi sẽ đến nhận tại cửa hàng
                </label>
              </div>
              <h2>Phương thức thanh toán</h2>
              <!-- Thanh toán -->
              <div class="radio-border2">
                <input type="radio" id="cod" name="payment-method" checked />
                <label for="cod">
                  <img src="../assets/images/Thanh toán/Thanh toán bằng Momo.png"  alt="Loi anh" class>
                  Thanh toán qua Momo
                </label>
              </div>
              <div class="radio-border2">
                <input type="radio" id="online" name="payment-method" />
                <label for="online">
                  <img src="../assets/images/Thanh toán/Thanh toán bằng ngân hàng.jpg"  alt="Loi anh">
                  Thanh toán qua tài khoản ngân hàng
                </label>
              </div>
              <div class="radio-border2">
                <input type="radio" id="cod" name="payment-method" checked />
                <label for="cod">
                  <img src="../assets/images/Thanh toán/Thanh toán Cod.jpg" alt="Loi anh">
                  Thanh toán khi giao hàng (COD)
                </label>
              </div>
            </div>
            <!-- Bên phải -->
            <div class="right-container">
              <h2>Sản phẩm đã thêm vào giỏ hàng</h2>
              <ul id="cart-items"></ul>
              <hr />
              <div id="discount-container">
                <input
                  type="text"
                  id="discount-code"
                  placeholder="Nhập mã giảm giá"
                />
                <button id="apply" onclick="discount()">Nhập</button>
              </div>
              <hr />
              <div id="price-detail-container-1">
                <p id="left-detail1">Tạm tính</p>
                <p id="cart-total"><span class="underline">đ</span></p>
              </div>
              <div id="price-detail-container-2">
                <p id="left-detail2">Phí vận chuyển</p>
                <p id="right-detail2">150000</p>
              </div>
              <hr />
              <div id="final-price-container">
                <p id="left-detail3">Tổng</p>
                <p id="right-detail3">
                  <span id="final-price"></span>
                </p>
              </div>
              <!-- Chuyển trang -->
              <a id="button-ref" onclick="payment()">Thanh toán</a>
            </div>
          </div>
        </div>
        <footer></footer>
      </div>
    </div>
    <script src="../assets/js/loading&connect.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../assets/js/header&footer.js"></script>
    <script src="../assets/js/thanhtoan.js"></script>
  </body>
</html>


