<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tarot Enigma</title>
    <!--General-->
    <link rel="stylesheet" href="../assets/css/style.css" />
    <!--Tintuc-->
    <link rel="stylesheet" href="../assets/css/Tintuc_demo_detail.css" />
    <!--Boostrap-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!--Fontawsome-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <!--Favicon-->
    <link rel="icon" href="../assets/images/Giới thiệu/favicon-01.png" type="image/png">
  </head>

  <body>
    <div class="loading"></div>
    <div class="offline-message" id="offline-message"></div>
    <div class="content-show">
      <!--Header-->
      <header></header>

      <!-- Tin Tức -->
      <div class="baiviet">
        <h1>Lịch Sử Huyền Bí Của Bộ Bài Tarot: Ai Là Người Đầu Tiên Tạo Ra?</h1>
        <div class="content">
          <p>
            Bộ bài tarot đã trở thành một phần không thể thiếu trong thế giới tâm linh và tư vấn. 
            Nhưng bạn có biết ai là người đầu tiên tạo ra bộ bài này? Lịch sử của tarot bắt nguồn từ thế kỷ 15 tại châu Âu, 
            khi những bộ bài đầu tiên được sử dụng chủ yếu cho mục đích giải trí trong các trò chơi bài.
          </p>
          <img src="../assets/images/Tin tức/Đầu tiên - 01.webp" alt="Loi anh">
          <div class="chuthich">Ba lá bài trong bộ bài tarot Visconti-Sforza thế kỷ 15: Át cốc, Nữ hoàng tiền xu và Hiệp sĩ gậy</div>
          <p>
            Tuy nhiên, sự chuyển mình của tarot thành một công cụ để khám phá tâm linh và dự đoán lai bắt đầu vào thế kỷ 18, 
            nhờ vào những nhà huyền bí học như Antoine Court de Gébelin và Jean-Baptiste Alliette (biệt danh là Etteilla). 
            Họ đã phát triển lý thuyết rằng các lá bài tarot không chỉ là những bức tranh đơn thuần mà còn là biểu tượng của tri thức cổ xưa, 
            phần nào những khía cạnh sâu sắc của cái tâm con người.
          </p>
          <img src="../assets/images/Tin tức/Đầu tiên - 02.png" alt="Loi anh">
          <div class="chuthich">Bộ bài Sola Busca</div>
          <p>
            Một trong những bộ bài cổ điển có ảnh hưởng lớn trong lịch sử tarot là bộ bài Sola Busca, được thiết kế vào năm 1491. Bộ bài 
            này không chỉ được coi là bộ bài tarot đầu tiên có những hình ảnh chi tiết mà còn là một trong những ví dụ sớm nhất của việc 
            sử dụng các biểu tượng nghệ thuật trong tarot​.  Bộ bài này đã đóng góp vào sự phát triển của tarot, mở đường cho những thiết 
            kế sau này, bao gồm bộ bài tarot nổi tiếng nhất, Tarot de Marseille, được thiết kế vào thế kỷ 17 và tiếp tục ảnh hưởng đến 
            nhiều bộ bài hiện đại.
          </p>
          <img src="../assets/images/Tin tức/Đầu tiên - 03.jpg" alt="Loi anh">
          <div class="chuthich">Bộ bài Tarot de Marseill</div>
          <p>
            Ngày nay, có hàng ngàn bộ bài với các phong cách thiết kế khác nhau, nhưng tất cả đều mang trong mình một lịch sử phong phú và huyền bí.
          </p>
        </div>
      </div>
      <!--Footer-->
      <footer></footer>
    </div>
    <script src="../assets/js/loading&connect.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="../assets/js/tintuc.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../assets/js/header&footer.js"></script>
  </body>
</html>
