<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tarot Enigma</title>
    <!--General-->
    <link rel="stylesheet" href="../assets/css/style.css" />
    <!--Tintuc-->
    <link rel="stylesheet" href="../assets/css/TinTuc.css" />
    <!--Boostrap-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!--Fontawsome-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
  </head>

  <body>
    <div class="loading"></div>
    <div class="offline-message" id="offline-message"></div>
    <div class="content-show">
      <!--Header-->
      <header></header>

      <!-- Tin Tức -->
      <div class="TinTuc">
        <!-- Có thể bạn chưa biết -->
        <div class="Title_Tintuc">CÓ THỂ BẠN CHƯA BIẾT</div>
        <div class="Flex_container_tintuc" id="cothebanchuabiet">
          <div class="content-tt">
            <img src="../assets/images/Tin tức/Bộ bài Sola Busca.jpg" />
          </div>
          <div class="content-tt" id="uudai-content1">
            <p class="content-title" id="content-toggle" onclick="window.location.href='Tintuc_demo_detail.html'">
              Lịch Sử Huyền Bí Của Bộ Bài Tarot: Ai Là Người Đầu Tiên Tạo Ra?
            </p>
            <p>
              Bộ bài tarot đã trở thành một phần không thể thiếu trong 
              thế giới tâm linh và tư vấn. Nhưng bạn có biết ai là 
              người đầu tiên tạo ra bộ bài này? Lịch sử...
            </p>
          </div>          
        </div>
        <!-- Dự kiến ra mắt -->
        <div class="Title_Tintuc">DỰ KIẾN RA MẮT</div>
        <div class="slideshow" id="dukienramat">
          <div
            id="carouselExampleControls2"
            class="carousel slide"
            data-bs-ride="carousel"
          >
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="0">
                <div class="Flex_container_tintuc">
                  <div class="content_tt">
                    <img
                      src="../assets/images/Tin tức/Bộ Bài Tarot Mystic Dreams.jpg"/><br />
                    <p class="content-title">
                      Bộ Bài Tarot Mystic Dreams
                    </p>
                    <p>
                      Bộ bài Mystic Dreams với những hình ảnh sống động và sắc 
                      nét, hứa hẹn sẽ mang đến cho bạn những trải nghiệm huyền 
                      bí và đầy cảm hứng trong mỗi...
                    </p>
                  </div>
                  <div class="content_tt">
                    <img
                      src="../assets/images/Tin tức/Khăn trải Cung hoàng đạo.jpg"/>
                    <p class="content-title">
                      Khăn trải Cung hoàng đạo 
                    </p>
                    <p>
                      Chúng tôi rất hào hứng thông báo về sản phẩm mới nhất 
                      sắp ra mắt tại Tarot Enigma: Tấm Thảm Tarot Cung Hoàng 
                      Đạo! Được thiết kế đặc biệt để...
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleControls2"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleControls2"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
      <!--Footer-->
      <footer></footer>
    </div>
    <script src="../assets/js/loading&connect.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="../assets/js/tintuc.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../assets/js/header&footer.js"></script>
    <script src="../assets/js/slideshow.js"></script>  
  </body>
</html>
