<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tarot Enigma</title>
    <!--General-->
    <link rel="stylesheet" href="../assets/css/style.css" />
    <!--Tintuc-->
    <link rel="stylesheet" href="../assets/css/TinTuc.css" />
    <!--Boostrap-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!--Fontawsome-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <!--Favicon-->
    <link rel="icon" href="../assets/images/Giới thiệu/favicon-01.png" type="image/png">
  </head>

  <body>
    <div class="loading"></div>
    <div class="offline-message" id="offline-message"></div>
    <div class="content-show">
      <!--Header-->
      <header></header>
      <!-- Tin Tức -->
      <div class="Tintuc">
        <hr size="30px">
        <h1>Có thể bạn chưa biết</h1>
        <div class="chuabiet">
            <a href="./Tintuc_demo_detail.html">
              <div class="mautin">
                <img src="../assets/images/Tin tức/Chưa biết -01.jpg" alt="Loi anh">
                <h2 class="link">Nguồn gốc của Sola Busca</h2>
                <p class="link">Theo một báo cáo gần đây, nhiều nhà tâm linh học đã chỉ ra rằng, 
                  bộ bài này đã có từ những năm 1800...
                </p>
              </div>
            </a>
            <a href="./Tintuc_demo_detail.html">
              <div class="mautin">
                <img src="../assets/images/Tin tức/Chưa biết - 02.jpg" alt="Loi anh">
                <h2 class="link">Năng lượng từ nến</h2>
                <p class="link">Năng lượng từ nến đã được con người sử dụng qua nhiều thế kỷ
                   trong các nghi thức tâm linh, thiền định, và phong thủy...
                </p>
              </div>
            </a>
            <a href="./Tintuc_demo_detail.html">
              <div class="mautin">
                <img src="../assets/images/Tin tức/Chưa biết - 03.jpg" alt="Loi anh">
                <h2 class="link">Xem Tarot vào buổi sáng</h2>
                <p class="link">Xem Tarot vào buổi sáng là một cách tuyệt vời để bắt đầu 
                  ngày mới với sự tập trung và ý nghĩa...
                </p>
              </div>
            </a>
            <a href="./Tintuc_demo_detail.html">
              <div class="mautin">
                <img src="../assets/images/Tin tức/Chưa biết - 04.jpg" alt="Loi anh">
                <h2 class="link">Hình ảnh mèo trong Tarot</h2>
                <p class="link">Năng lượng từ nến đã được con người sử dụng qua nhiều 
                  thế kỷ trong các nghi thức tâm linh, thiền định, và phong thủy...
                </p>
              </div>
            </a>
        </div>
        <hr size="30px">
        <h1>Dự kiến ra mắt</h1>
        <div class="ramat">
          <a href="./Tintuc_demo_detail.html">
            <div class="mautin">
              <img src="../assets/images/Tin tức/Ra mắt - 01.jpg" alt="Loi anh">
              <h2 class="link">Hộp giấy cứng đựng bài</h2>
              <p class="link">Hộp giấy cứng đựng bài Tarot là một lựa chọn 
                phổ biến và hữu ích để bảo vệ bộ bài của ... 
              </p>
            </div>
          </a>
          <a href="./Tintuc_demo_detail.html">
            <div class="mautin">
              <img src="../assets/images/Tin tức/Ra mắt - 02.jpg" alt="Loi anh">
              <h2 class="link">Bài Tarot hoàng gia</h2>
              <p class="link">"Bài Tarot hoàng gia" gồm những lá bài hoặc bộ bài có 
                chủ đề liên quan đến hoàng gia, quý tộc, ...
              </p>
            </div>
          </a>
          <a href="./Tintuc_demo_detail.html">
            <div class="mautin">
              <img src="../assets/images/Tin tức/Ra mắt - 03.jpg" alt="Loi anh">
              <h2 class="link">Bộ bài Target</h2>
              <p class="link">Lần đầu tiên, một bộ bài Tarot được vẽ và phát triển 
                hoàn toàn bằng AI. Điều thú vị là ...
              </p>
            </div>
          </a>
        </div>
        </div>
      </div>
      <footer></footer>
    </div>
    <script src="../assets/js/loading&connect.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="../assets/js/tintuc.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../assets/js/header&footer.js"></script>
  </body>
</html>
