.register-form {
    position: relative;
    margin-top: 200px;
    margin-left: 10vw;
    margin-right: 10vw;
    width: 80vw;
}

#name, #surname, #email, #password, #confirm-password {
    border: 1px solid;
    width: 50vw;
    height: 8vh;
    padding-left: 1vw;
    margin-bottom: 1vh;
}

#name-label, #surname-label, #email-label, #password-label, #confirm-password-label {
    color: var(--navbar-menu-color);
    font-size: 20px;
}

#register-form {
    margin-left: 15vw;
}

#error-message {
    font-size: 25px;
    color: var(--navbar-menu-color);
}

.spaced-words {
    word-spacing: 1vw;
}

.register-header {
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
    color: var(--navbar-menu-color);
}

.input-group1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-button {
    display: inline-block;
    height: 10vh;
    width: 20vw;
    color: aliceblue;
    background-color: var(--origin1-color);
    border: 1px solid;
    margin: center;
}

.link-container {
    margin-bottom: 10vh;
}

.link {
    color: var(--navbar-menu-color);
    padding: 0;
    border: none;
    background: none;
    font-size: 20px;
    text-decoration: none;
}
